 <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a" style="color: white;">
                Projects
              </h3>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">E-Learnig(online education) Web application</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design and Development</span>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Social Networking Platform Web application</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design and Development</span>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">College Alumni Web Application</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design and Development</span>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Text to speech converter using Kinect device</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Desktop application</span>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
     

        </div>
      </div>
    </section>