<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
     <link rel="stylesheet" href="/stylesheets/bootstrap-icons/bootstrap-icons.css">
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/index">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project/index">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/index">Contact</a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>
    {{{body}}}


  </body>
</html>
