   <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">

                    <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                    Enthusiastic and hard working web developer, with the goal of becoming the BEST. Worked as a software developer
                    for 4 years and now looking for more opportunities and exciting problems. 
                    </p>
                    <p class="lead">
                        A Writer on her way to discover different prespectives, adventures and knowledge.
                    </p>
                    <p class="lead">
                      In my free time you will find me connecting to nature or in my own little world of imaginations. I believe Hard work is the Key to any Lock.
                    </p>
                  </div>
                </div>

                <div class="col-md-6">
           
                  <div class="skill-mf">
                    <p class="title-s">Skills</p>
                    <span>HTML</span> <span class="pull-right">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%;" ></div>
                    </div>
                    <span>Angular</span> <span class="pull-right">85%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 85%" ></div>
                    </div>
                    <span>C#</span> <span class="pull-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" ></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%"></div>
                    </div>
                    <span>CSS</span> <span class="pull-right">60%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%"></div>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
